# The influence of qualifying results on points scored

In [1]:
import numpy as np
import pandas as pd

In [2]:
drivers = pd.read_csv('drivers.csv')
lap_times = pd.read_csv('lap_times.csv')
qualifying = pd.read_csv('qualifying.csv')
results = pd.read_csv('results.csv')

In [8]:
print(drivers.head())
print(lap_times.head())
print(qualifying.head())
results.head()

   driverId   driverRef number code  forename     surname         dob  \
0         1    hamilton     44  HAM     Lewis    Hamilton  1985-01-07
1         2    heidfeld     \N  HEI      Nick    Heidfeld  1977-05-10
2         3     rosberg      6  ROS      Nico     Rosberg  1985-06-27
3         4      alonso     14  ALO  Fernando      Alonso  1981-07-29
4         5  kovalainen     \N  KOV    Heikki  Kovalainen  1981-10-19

  nationality                                             url
0     British     http://en.wikipedia.org/wiki/Lewis_Hamilton
1      German      http://en.wikipedia.org/wiki/Nick_Heidfeld
2      German       http://en.wikipedia.org/wiki/Nico_Rosberg
3     Spanish    http://en.wikipedia.org/wiki/Fernando_Alonso
4     Finnish  http://en.wikipedia.org/wiki/Heikki_Kovalainen
   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342
   qualifyId  raceId  driverId  constructorId  number  position        q1  \
0          1      18         1              1      22         1  1:26.572
1          2      18         9              2       4         2  1:26.103
2          3      18         5              1      23         3  1:25.664
3          4      18        13              6       2         4  1:25.994
4          5      18         2              2       3         5  1:25.960

         q2        q3
0  1:25.187  1:26.714
1  1:25.315  1:26.869
2  1:25.452  1:27.079
3  1:25.691  1:27.178
4  1:25.518  1:27.236

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1